html{
    min-height: 100%;
    position: relative;
}
body{
    padding: 0%;
    margin-right:0%;
    overflow-X:hidden;
}
#BotonGestioCap{
    margin-right: 10px;
}
#BotonGestionInd{
    margin-right: 100px;
}
footer {
    position: absolute;
    width:100%; 
    bottom: 0;
 margin: none;
 }
 #iagregar{
     font-size: 40px;
     color:#007bff;
 }
 #ieditar{
    font-size: 25px;
    color:#ff9900;
}
#iborrar{
    font-size: 25px;
    color:red;
}
.content{
    margin-bottom:10%;
    width: 100%;
}

.buttonConfirmacion{
    background: none;
    border: none;
    color: #ffffff;
}
.nombreCap{
    margin-top: 20px;
}
hr {
    margin: 20px;
}

summary{
    padding: 1em;
    transition: background-color .3s;
    border: rgba(0, 0, 0, 0.13) .12em solid;
    outline: none;
    text-align: left;
}
summary:hover{
    background:rgb(231, 231, 231);
    border: rgb(231, 231, 231 ) 1px solid;
}
details[open] summary ~*{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    from {
        opacity: 0; 
    }
    to{
        opacity: 1;
    }
}

.contenidoCap{
    text-align: left ;
    margin-left: 20px;
}
.tablaContenido{
    padding: 10px;
    padding-bottom: 5px;
    margin: 30px;
    text-align: left;
    background: #f8f9fa;
    border: 1px solid #a2a9b1;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding:25px 20px;
	color: #ffffff;
	font-family: 'Open sans';
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 15px;
}

.menu li a:hover{
	color: #007bff;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
    width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
    position: relative;
    text-align: center;
    margin: -25px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}