.modal-title{
    font-family: 'Dosis', sans-serif; 
    font-size:25px;
    margin: auto;
  }
  
  .modal-header{
    width: 450px;
    height:80px;
    text-align:center;
    background: #007bff;
    color: #fff;
    
  }
  
.input-group{
    width: 10%;
}

.previsualizar{
    width: 180px;
    height: 180px ;
}
  
  .modal-dialog{
    box-shadow: 0 0 9px 0 rgb(57, 152, 255);
  }
  
  button.close{
    color: #fff;
    opacity: .5;
  }
  
  button.close:hover{
    color: #fff;
    opacity: .8;
  }
  
  label{
    font-size: 15.3px;
    font-weight: 1000;
  }
  
  
  
  
  
  
  .div1 {
    overflow:scroll;
       height:400px;
       width:100%; 
  }
  
 
  
 
  
  h1{
    font-family: 'Dosis', sans-serif;    
  }
  
  .content-header{
    font-size: 50px;
  }
  
 
  h1 {
    margin: 0;
}

  
  .form-group p{
    color: #595e63;
    font-size: 15px;
    
  }
  
  em{
    font-style: normal;
  }
  
  .div2 { 
    overflow:scroll;
       height:590px;
       width:102%; 
       
  }
  .input2{
      width: 20%;
  }
  .buttonCrud{
      border: none;
      background: none;
  }
  /*estilos alertas*/
  .formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
  .formulario__grupo-input {
    position: relative;
  }
  
  .formulario__input {
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }
  
  .formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }
  .formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  .formulario__input-error-activo {
    display: block;
  }
  .formulario__validacion-estado {
    position: absolute;
    right: 28px;
    margin-top: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
   
  }
  .formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    font-size: 0.9em;
  }
  
.formulario__mensaje-activo {
	display: block;
}
  .formulario__mensaje p {
    margin: 0;
  }
  /* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
  